
.list {
	  display: grid;
	  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
	
}

.card {
	display: flex;
	border-bottom: solid var(--bw) var(--color-pink);
	margin: var(--size-s);
	background-color: var(--color-lighter);
	;

	div {
		display: flex;
		flex-flow: column nowrap;
		color: var(--color-white);
		gap: var(--s);
	   
		p {
			flex-grow: 2;
			color: var(--color-blue);
			font-weight: var(--fw-light);
		}

        address{
            color: var(--color-pink);
        }
	}

	img {
		max-width: 50%;
		padding: var(--size-m);
		object-fit:cover;
	}
}