/* stylelint-disable no-descending-specificity */


/* Form
############################################################################ */
.thema-vorschlagen{   
    h2{
        color: var(--color-lightest);
    }
   
    background-color: var(--color-dark);
    color: var(--color-lightest);
       
}